.root {
    /* *MEDIA QUERIES */
    /* *Phone*/
    --MQPhone1: 320px;
    --MQPhone2: 375px;
    --MQPhone3: 425px;
    --MQPhone4: 540px;
    /* *Tablet*/
    --MQTablet1: 768px;
    --MQTablet2: 820px;
    /* *PC*/
    --MQPC_1 : 1024px;
    --MQPC_2 : 1280px;
    --MQPC_3 : 1360px;
    --MQPC_4 : 1440px;
    --MQPC_5 : 1600px;
    --MQPC_6 : 1920px;
    --MQPC_7 : 2048px;
    --MQPC_8 : 2560px;
}
@media (min-width: var(--MQPhone1)) and (max-width: var(--MQPhone2 - 1px)) {
    
}