/* Imports */
@use "media_queries";
@use "color_scheme";
/* Variables */
$text_font : Arial, Helvetica, sans-serif;
$text_size : 18px;

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $text_font;
    color: color_scheme.$text_color;
}